language: java
notifications:
  email: false
addons:
  apt:
    packages:
    - chromium-browser
install:
- dpkg-query -l google-chrome-stable chromium-browser | true
script:
- mvn -B install -Dvhs.chromedriver.chrome.extraArgs=--no-sandbox -Dvhs.chromedriver.version=2.36 -Dwdm.gitHubTokenName=$GITHUB_TOKEN_NAME -Dwdm.gitHubTokenSecret=$GITHUB_TOKEN_SECRET
